.gitcredentials
.env

__pycache__/

*.jsonl

.ruff_cache/

.mypy_cache/

*.egg-info/
.DS_Store
.vscode/

# Ignore all files under ./dataflows
/dataflows/*

# Do not ignore files under ./dataflows/examples
!/dataflows/examples/
!/dataflows/examples/**
